<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
	
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Welcome to the Flight Booking System</h1>
        </div>
    </header>
	<br><br>
    <nav>
        <ul>
            <li><a href="/search_destination">Search Destination</a></li>
            <li><a href="/search_booking">Search Booking</a></li>
			<li><a href="/book_ticket"> Book Ticket</a></li>
        </ul>
    </nav>
    <main>
        <section class="about">
            <h2>About</h2>
            <p>Welcome to our Flight Booking System. We offer a wide range of destinations at competitive prices. Use our search functionality to find your dream destination and book your flight with ease.</p>
        </section>
        <section class="features">
            <h2>Features</h2>
            <ul>
                <li>Easy booking process</li>
                <li>Wide selection of destinations</li>
                <li>Competitive prices</li>
                <li>24/7 customer support</li>
            </ul>
        </section>
        <section class="contact">
            <h2>Contact Us</h2>
            <p>If you have any questions or need assistance, feel free to contact us:</p>
            <p>Email: info@flightbookingsystem.com</p>
            <p>Phone: 1-800-123-4567</p>
        </section>
    </main>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Flight Booking System. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
